sudo: required
dist: trusty
language: c
compiler:
  - gcc
  - clang
addons:
  apt:
    packages:
    - pkg-config
    - libsdl1.2-dev
    - libsdl-ttf2.0-dev
    - valgrind
env:
  matrix:
   - CFLAGS="--coverage"
   - CFLAGS="-O3"
   - TESTRUN_WRAPPER='valgrind -q --error-exitcode=126 --track-origins=yes --leak-check=full' CFLAGS="-O1 -g3"
script:
 - make clean && make -j$(nproc) test
